	<ion-view view-title=" Push To Talk" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> Push To Talk</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-ptt" class="page-ptt">
		<div class="padding">
  <div >
    <h4>Push To Talk</h4>
    <p>This Module is under construction. Please come back soon!</p>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
